body {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.page-title {
  margin: 0 auto;
  text-align: center;
  color: purple;
  font-size: 1.8em;
}

.new-game-button {
  text-align: center;
}

.new-game-button button {
  padding: 5px;
}

.game-container {
  position: relative;
  top: 10px;
  margin-bottom: 200px;
  padding: 15px;
  background: #4c71ce;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-container {
  position: absolute;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-row {
  margin-bottom: 15px;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  font-size: 3.0em;
}
